<h3>Upload 2016</h3>
<%= form_tag uploads_master_import_2016_path, multipart: true do %>
     <div class="form-group">
     <label for="exampleFormControlFile1">Import Here:</label>
     <%= file_field_tag :file %>
     <br><br>
     <%= submit_tag 'Import File', class: "btn btn-primary btn-sm" %>
     </div>
<% end %>
<br><br>

<h3>Upload 2019</h3>
<%= form_tag uploads_master_import_2019_path, multipart: true do %>
     <div class="form-group">
     <label for="exampleFormControlFile1">Import Here:</label>
     <%= file_field_tag :file %>
     <br><br>
     <%= submit_tag 'Import File', class: "btn btn-primary btn-sm" %>
     </div>
<% end %>
<br><br>

<h3>Upload feb 28 2019</h3>
<%= form_tag uploads_master_import_feb_path, multipart: true do %>
     <div class="form-group">
     <label for="exampleFormControlFile1">Import Here:</label>
     <%= file_field_tag :file %>
     <br><br>
     <%= submit_tag 'Import File', class: "btn btn-primary btn-sm" %>
     </div>
<% end %>
<br><br>

<h3>Upload Opening Balance 2016</h3>
<%= form_tag uploads_opbal_2016_path, multipart: true do %>
     <div class="form-group">
     <label for="exampleFormControlFile1">Import Here:</label>
     <%= file_field_tag :file %>
     <br><br>
     <%= submit_tag 'Import File', class: "btn btn-primary btn-sm" %>
     </div>
<% end %>
<br><br>

<h3>Upload March Revenue 2019</h3>
<%= form_tag uploads_import_mar_revenue2019_path, multipart: true do %>
     <div class="form-group">
     <label for="exampleFormControlFile1">Import Here:</label>
     <%= file_field_tag :file %>
     <br><br>
     <%= submit_tag 'Import File', class: "btn btn-primary btn-sm" %>
     </div>
<% end %>
<br><br>
