<div id="modal-shows">
    <div class="modal fade" id="modal-dialog" style="display: none;">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h3>
                        Generate Receipt
                    </h3>
                    <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <%= form_for Receipt.new, html: { class: "form-horizontal" }, remote: true do |f| %>
                    <div class="modal-body">
                         <div class="form-group row">
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-lg-10">
                                   <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-success  dim btn-large-dim btn-outline active">
                                             <%= f.radio_button :payment_type_id, 1, checked: true %> <%# CASH %>
                                             <i class="fa fa-money"></i>
                                        </label>
                                        <label class="btn btn-success  dim btn-large-dim btn-outline">
                                             <%= f.radio_button :payment_type_id, 2 %>  <%# CHEQUE %>
                                             <i class="fa fa-newspaper-o"></i>
                                        </label>

                                        <label class="btn btn-success  dim btn-large-dim btn-outline">
                                             <%= f.radio_button :payment_type_id, 3 %> <%# CARD %>
                                             <i class="fa fa-credit-card"></i>
                                        </label>
                                   </div>
                              </div>
                         </div>
                         <div class="hr-line-dashed"></div>
                         <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Reference</label>
                              <div class="col-lg-10">
                                   <%= f.text_field :payment_reference, class: "form-control form-control-lg m-b", placeholder: "Cheque or Credit card last 4 digits" %>
                              </div>
                         </div>
                         <div class="hr-line-dashed"></div>
                         <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Amount</label>
                              <div class="col-lg-10">
                                   <%= f.text_field :amount, class: "form-control form-control-lg m-b", required: "" %>
                                   <%= f.hidden_field :fee_id, value: @fee.id %>
                              </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <%= button_tag(type: 'Submit', class: "btn btn-primary") do %>
                            Save changes
                        <% end %> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
