<div class="row">
     <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInRight">
               <div class="ibox-content p-xl">
                    <div class="row">
                         <div class="col-sm-12">
                              <%= link_to receipt_path(1), :onclick => 'window.print();return false;', class: "btn btn-white btn-bitbucket float-right" do %>
                                   <i class="fa fa-print"></i>
                              <% end %> 
                         </div>
                         <div class="col-sm-6">
                              <address style="font-size: 18px;">
                              <h1>
                                   <%= image_tag 'FastLogo.jpg' %>
                              </h1>
                              <br>
                              7F ADNIF Bldg., Corniche Road<br>
                              Abu Dhabi, United Arab Emirates<br>
                              <abbr title="Phone">P:</abbr> +971 2 6220088
                              </address>
                         </div>

                         <div class="col-sm-6 text-right">
                              <h4>Receipt No.</h4>
                              <h3 class="text-navy" style="font-size: 26px;">RCT-<%= @receipt.id %></h3>
                              <span>To:</span>
                              <address style="font-size: 18px;">
                                   <strong><%= session[:ParentName] %></strong><br>
                                   <%= session[:BusArea] %><br>
                                   <%= session[:FatherEmail] %><br>
                                   <abbr title="Phone">P:</abbr> <%= session[:FatherMobile] %>
                              </address>
                              <span>Student:</span>
                              <address style="font-size: 18px;">
                                   <strong><%= session[:StudentCode] %> : <%= session[:StudentName] %></strong><br>
                                   Class: <%= session[:StudentClass] %><br>
                                   Division: <%= session[:StudentDivision] %><br>
                              </address>
                              <p style="font-size: 18px;">
                                   <span><strong>Receipt Date:</strong> <%= @receipt.receipt_date.strftime("%d-%b-%Y") %></span><br>
                                   <span><strong>Payment Type:</strong> <%= @receipt.payment_type.description %> ( <%= @receipt.payment_reference %> )</span><br>
                              </p>
                         </div>
                         <div class="col-sm-12">
                              <h4>Notes:</h4>
                              <h3>
                              <i><%= @receipt.notes.present? ? @receipt.notes : 'Thank you for the payment.' %></i>
                              </h3>
                         </div>
                    </div>
                    <br>
                    <div class="table-responsive m-t">
                         <table class="table invoice-table" style="font-size: 18px;">
                              <thead>
                              <tr>
                                   <th>Item List</th>
                                   <th>Tax</th>
                                   <th>Total Price</th>
                              </tr>
                              </thead>
                              <tbody>
                                   <% @receipt.receipt_details.each do |receipt_detail| %>
                                        <tr>
                                             <td>
                                                  <div>
                                                       <h3><%= receipt_detail.fee_detail.description %></h3>
                                                  </div>
                                                  <strong><%= receipt_detail.fee_detail.fee_date %></strong>
                                             </td>
                                             <td>0</td>
                                             <td><h3>AED <%= receipt_detail.amount %></h3></td>
                                        </tr>
                                   <% end %>
                              </tbody>
                         </table>
                    </div><!-- /table-responsive -->

                    <table class="table invoice-total">
                         <tbody>
                         <tr style="font-size: 18px;">
                              <td><strong>TAX :</strong></td>
                              <td>
                                   <h2 style="font-size: 30px;">
                                   0.00
                                   </h2>
                              </td>
                         </tr>
                         <tr style="font-size: 18px;">
                              <td><strong>TOTAL PAID :</strong></td>
                              <td>
                                   <h2 style="font-size: 30px;">
                                        <%= @receipt.amount %>
                                   </h2>
                              </td>
                         </tr>
                         <tr style="font-size: 18px;">
                              <td><strong>TOTAL CHARGED :</strong></td>
                              <td>
                                   <h2 style="font-size: 30px;">
                                        <%= @receipt.receipt_details.sum(:amount) %>
                                   </h2>
                              </td>
                         </tr>
                         <tr style="font-size: 18px;">
                              <td><strong>CARYOVER :</strong></td>
                              <td>
                                   <h2 style="font-size: 30px;">
                                        <%= @receipt.receipt_details.sum(:amount) - @receipt.amount %>
                                   </h2>
                              </td>
                         </tr>
                         </tbody>
                    </table>

                    <div class="well m-t"><strong>Comments</strong>
                         Please contact use for any disputes regarding this document.
                    </div>
               </div>
          </div>
     </div>
</div>