<div class="ibox-content">
     <div class="form-group row float-right">
          <div class="widget style1" style="padding-top: 0; margin-top: 0;">
               <div class="row">
                    <div class="col-12 text-right">
                         <span> Total Balance </span>
                         <h2 class="font-bold"><%= number_to_currency(@fees.balance_amount, unit: "", :precision => 2, :delimiter => ',') %></h2>
                    </div>
               </div>
          </div>
     </div>
     <div class="form-group row">
          <div class="col-sm-12">
               <div class="row">
                    <div class="col-lg-12">
                         <div>
                              <p>
                              <%= link_to 'Generate Revenue Fees', generate_revenue_path(@fees.id), class: "btn btn-outline btn-success", remote: true %>
                              <%# <% if current_user.is_admin?
                                   <%= link_to 'Generate Fees', generate_fees_path(@fees.student_id), class: "btn btn-outline btn-warning", remote: true 
                              <% end %>
                              </p>
                         </div>
                    </div>

               </div>
          </div>
     </div>
     <div class="hr-line-dashed" style="margin-top: 40px;"></div>
     <% if student.present? %>
          <table class="table table-striped dataTables">
               <thead>
                    <tr>
                         <th>Status</th>
                         <th>Date</th>
                         <th>Description</th> 
                         <th>Amount</th>
                         <th>Paid Amount</th>
                         <th>Balance Amount</th>
                         <% if current_user.is_admin %>
                              <th></th>
                         <% end %>
                    </tr>
               </thead>
               <tbody>
                    <% FeeDetail.student_all_fees(@fees.id).each do |fee| %>
                         <tr id="<%= fee.id %>">
                              <td>
                                   <% if fee.balance_amount === 0 %>
                                        <span class="badge badge-success">Paid</span>
                                   <% elsif fee.paid_amount.present? && fee.paid_amount != 0 && fee.paid_amount < fee.amount %>
                                        <span class="badge badge-warning">Balance</span>
                                   <% else %>
                                        <span class="badge badge-danger">Unpaid</span>
                                   <% end %>
                              </td>
                              <td><%= fee.fee_date %></td>
                              <td><%= fee.description %></td>
                              <td><%= fee.amount %></td>
                              <td><%= fee.paid_amount %></td>
                              <td><%= fee.balance_amount %></td>
                              <% if current_user.is_admin %>
                                   <td>
                                        <div class="btn-group">
                                             <% if fee.paid_amount.nil? %>
                                                  <%= link_to 'Edit', edit_fee_detail_path(fee), class: "btn btn-white btn-xs" %>  
                                                  <%= link_to 'Delete', fee_detail_path(fee), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-xs btn-danger" %>
                                             <% else %>
                                                  <button type="button" class="btn btn-default btn-xs" disabled>Edit</button>
                                             <% end %>
                                        </div>
                                   </td>
                              <% end %>
                         </tr>
                    <% end %>
               </tbody>
          </table>
     <% else %>
          <div class="alert alert-warning">
               Please search the student first to get all the transportation fees.
          </div>
     <% end %>
</div>
<script type="text/javascript">
     if (! $('.dataTables').hasClass('initialized')) {
          $('.dataTables').not('.initialized').addClass('initialized').DataTable({
               pageLength: 10,
               responsive: true,
               order: [[ 1, "desc" ]],
               dom: '<"html5buttons"B>lTfgitp',
               buttons: [
               { extend: 'copy'},
               {extend: 'csv'},
               {extend: 'excel', title: 'ExampleFile'},
               {extend: 'pdf', title: 'ExampleFile'},

               {extend: 'print',
                    customize: function (win){
                         $(win.document.body).addClass('white-bg');
                         $(win.document.body).css('font-size', '10px');

                         $(win.document.body).find('table')
                                   .addClass('compact')
                                   .css('font-size', 'inherit');
               }
               }
               ]
          });
     };
</script>