<!DOCTYPE html>
<html>
  <head>
    <title>FRC School Fees</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= user_signed_in? ? '' : 'gray-bg' %>">
    <% if user_signed_in? %>
      <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
      <div id="wrapper">
        <nav class="navbar-default navbar-static-side">
          <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
              <li class="nav-header">
                  <div class="dropdown profile-element">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <span class="block m-t-xs font-bold"><%= current_user.email %></span>
                          <span class="text-muted text-xs block">Profile <b class="caret"></b></span>
                      </a>
                      <ul class="dropdown-menu animated fadeInRight m-t-xs">
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                          <li class="dropdown-divider"></li>
                          <li>
                            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                          </li>
                      </ul>
                  </div>
                  <div class="logo-element">
                      FRC
                  </div>
              </li>
              <% unless current_user.is_guest? %>
                <li>
                <%= link_to root_path do %>
                    <i class="fa fa-credit-card"></i> 
                    <span class="nav-label">Payment Receipts</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to fee_details_path do %>
                      <i class="fa fa-bus"></i> 
                      <span class="nav-label">Revenues</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to students_path do %>
                      <i class="fa fa-users"></i> 
                      <span class="nav-label">Students</span>
                  <% end %>
                </li>
              <% end %>

              <li class="">
                    <a href="#" aria-expanded="false"><i class="fa fa-bar-chart-o"></i> 
                      <span class="nav-label">Reports</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                        <li>
                          <%= link_to 'Collections', reports_collections_path %>
                        </li>
                    </ul>
              </li>
              <% if current_user.is_admin? %>
                <li style="display: none;">
                  <%= link_to uploads_path do %>
                      <i class="fa fa-diamond"></i> 
                      <span class="nav-label">Uploads</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
          <%= yield %>
        </div>
      </div>
    <% end %>
    <div id="modal-shows"></div><!-- For modal shows, partial rendering -->
  </body>
</html>
<script>
  var sideMenu = $('#side-menu').metisMenu();
  sideMenu.on('shown.metisMenu', function (e) {
         fix_height();
     });
</script>